[submodule "pack/myplugins/start/nerdtree"]
	path = pack/myplugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/myplugins/start/asyncrun"]
	path = pack/myplugins/start/asyncrun
	url = https://github.com/skywind3000/asyncrun.vim.git
[submodule "pack/myplugins/opt/surround"]
	path = pack/myplugins/opt/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/myplugins/start/gutentags"]
	path = pack/myplugins/start/gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
